<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login Page</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form><h1>Creeaza cont</h1>
                <span>foloseste email pentru inregistrare</span>
                <input type="text" placeholder="Nume">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Parola">
                <button>Inregistrare</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Intra in cont!</h1>
                <span>foloseste email si parola</span>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Parola">
                <a href="#">Ai uitat parola?</a>
                <button>Intra in cont</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Ai deja cont?</h1>
                    <p>Intra acum!</p>
                    <button class="hidden" id="login">Intra in cont</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Nu ai cont?</h1>
                    <p>Inregistreaza-te acum!</p>
                    <button class="hidden" id="register">Inregistrare</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const container = document.getElementById('container');
        const registerBtn = document.getElementById('register');
        const loginBtn = document.getElementById('login');

        registerBtn.addEventListener('click', () => {
            container.classList.add("active");
        });

        loginBtn.addEventListener('click', () => {
            container.classList.remove("active");
        });
    </script>
</body>

</html>