<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
   <title>BrutarieArtFood</title>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <a href = "/adaugaprodus">
      adauga
   </a>
   <a href = "/cont">
      cont
   </a>
</body>
</html>